<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#htmlWebpackPlugin.files.css}}
        <link rel="stylesheet" href="{{.}}">
    {{/htmlWebpackPlugin.files.css}}

    {{#htmlWebpackPlugin.files.js}}
        <script src="{{.}}" async></script>
    {{/htmlWebpackPlugin.files.js}}
</head>
<body>

<app-shell></app-shell>


</body>
</html>