<div class="">
    <span class="token-field" *ngFor="#contact of allAddedContacts">
        <create-token [contact]="contact"></create-token>
    </span>
</div>
<input type="text" #searchContact
       (keyup)="0"
       (keyup.enter)="enterContact(searchContact.value); inputChange.emit(''); searchContact.value=''"
       [(ngModel)]="emptyInputField ? emptyOnClick() : searchContact.value"
       (ngModelChange)="inputChange.emit(searchContact)"
       >
<!--<template *ngIf="emptyIt == true ? searchContact.value = '' : emptyIt = false;"></template>-->
