<div class="email-container">
    <table>
        <tbody>

        <!--Email Header-->
        <div class="header-container">
            <tr id="header-main">
                <td class="header-title">
                    New Message
                </td>
                <td class="header-options">
                    <i class="material-icons">close</i>
                </td>
            </tr>
        </div>

        <!--Email Body-->
        <div class="body-container">
            <tr id="body-main">
                <td class="something">
                    <label >To</label>
                </td>
                <td>
                    <!--Token & Input div-->
                    <div class="to-container">
                        <add-contact (inputChange)="searchContact = $event.value"></add-contact>
                    </div>
                    <!--Hidden list of contacts-->
                    <div [hidden]="searchContact?.length <= 0" class="search-contact">
                        <add-hidden-contact [searchContact]="searchContact"
                                            [contacts]="contacts"></add-hidden-contact>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="something">
                    <label>From</label>
                </td>
                <td>
                    <input type="text" value="{{from?.value || 'philip@gmail.com'}}" disabled>
                    <div class="carbon-copy">
                        <!--<a (click)="showCc()">Cc</a> <span>Bcc</span>-->
                    </div>
                </td>
            </tr>
        </div>
        </tbody>
    </table>

    <!--Email Subject Line and Content-->
    <table style="height: 100%;">
        <tr>
            <td class="subject-line">
                <input type="text" placeholder="  Subject">
            </td>
        </tr>
        <tr>
            <td class="body-content">
                <textarea></textarea>
            </td>
        </tr>
        <!--<tr class="send-button">-->
            <!--<td>-->
                <!--<button>Hello</button>-->
            <!--</td>-->
        <!--</tr>-->
    </table>

</div>