
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

table {
  cellpadding: 0;
}

.email-container {
  width: 501px;
  height: 558px;
  overflow-y: hidden;

  table {
    width: 100%;
  }
}

.header-container {
  background-color: #404040;
  color: white;
  padding: 4px 0 0 4px;

  .header-title {
    width: 412px;
  }

  .header-options {
    width: 60px;
    text-align: right;
    white-space: nowrap;
  }
}

.body-container {
  padding: 0 5px;

  tr {
    width: 100%;

    td {
      width: 500px;
      overflow: hidden;

      input {
        width: 100%;
        padding: 0;
      }

    }

    .something {
      width: 40px;
      vertical-align: top;
    }

    .carbon-copy {
      float: right;
    }
  }

}

input {
  border: none;
}

input:focus {
  outline: none;
}

.container-height {
  height: calc(100vh - 100px);
  overflow: auto;
}

span {
  width: 350px;
}

.search-contact {
  background-color: gray;
  position: absolute;
  width: 325px;


  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 0 5px;
      height: 50px;
    }
  }
}

li:hover {
  background-color: #ccc;
}

.to-container {
  position: relative;

  cursor: text;
  display: block;

}

.token-field {
  font-size: 12px;
  background: #ccc;
  border: 1px solid #777;
  display: inline-block;
  border-radius: 0;
  transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;

  padding: .4em .5em;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  width: auto;
}

.to-wrap {
  border: 1px solid #d9d9d9;
  cursor: default;
  display: block;
  height: 20px;
  white-space: nowrap;
  border-radius: 3px;
}

.tokenize {
  cursor: pointer;

  .material-icons {
    font-size: 12px;

    &:hover {
      color: white;
    }
  }
}

.email-container {
  padding: 0;
  border: 1px solid gray;
}

.subject-line {
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;

  input {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}

.body-content {
  padding: 5px;
  height: 100%;
  vertical-align: top;

  textarea {
    resize: none;
    width: 99%;
    height: 50%;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
